$colorblanco:wheat;
$fuente: 'Bebas Neue', cursive;
$subrayado: underline;
$fuentamano: 30px;
$centro: center;                       
$colornaranja: orange;

$redes: (
    twitter: blue,
    facebook: grey,
    instagram: pink,
    whatsapp: green,
    linkedin: blue

);
    