/* CSS GRID */
.contenedor1 {
    height: 100vh;
    display: grid;
    background-color: salmon;
    grid-template-areas: "header header header header"
    "aside main main main"
    "aside section section2 section3"
    "footer footer footer footer"
    ;
    gap: 20px;
    
    
 }

 .contenedor2 {
    height: 100vh;
    display: grid;
    background-color: salmon;
    grid-template-areas: "header header header header"
    "main main main main"
    "footer footer footer footer"
    ;
    text-align: center;
    border: black solid;
 }

 .contenedor3 {
    height: 100vh;
    display: grid;
    background-color: grey;
    grid-template-areas: "header header header header"
    "aside main main main"
    "aside section2 section2 section2"
    "footer footer footer footer"
    
 }

 .contenedor4 {
    height: 100vh;
    display: grid;
    background-color: salmon;
    grid-template-areas: "aside header header header"
    "aside section section2 section3"
    "aside section section2 section3"
    "footer footer footer footer"
    ;
    border: solid black;

 }
 .contenedor5 {
    height: 100vh;
    display: grid;
    background-color: salmon;
    grid-template-areas: "header header header header"
    "main main main section3"
    "section section section2 section3"
    "footer footer footer footer"
    ;
    border: solid black;
    gap: 20px;
 }

 header {
        grid-area: header;
        background-color: grey;
 }

 main {
    background-color: brown;
    grid-area: main;
    border:  black solid;
 }

 section {
    background-color: wheat;
    grid-area: section;
    border: solid black;
 }

 aside {
    grid-area: aside;
    border: solid black;
   


 }
.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

footer {
background-color: red;
grid-area: footer;
height: 10vh;
border: dotted;

}

.menuprincipal {
    display: flex;
    list-style-type: none;
    flex-direction: row;
}
 
.menuprincipal li {
    margin: 0px 30px;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: blue;
}

.parrafo1 {
    font-size: 20px;
    font-weight: bold;
  }

  .noti_destacadas {
   font-size: 30px;
   text-align: center;
  }
  .aside_main {
   border: coral;
  }

/* MEDIA QUERIES */



@media screen and (max-width: 768px) {
    .menuprincipal {
      flex-direction: column;
    }

    main {
        width: 70%;
        float: left;
    }
    
 }

